{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Meal Plans</h1>
    {% for meal_plan in meal_plans %}
    <div class="card mb-4">
        <div class="card-header">
            <h6 class="mb-0">Week of {{ meal_plan.week }}</h6>
        </div>
        <div class="card-body" id="card">
            <ul class="list-group">
                <li class="list-group-item plan"><strong>Monday:</strong> {{ meal_plan.monday_food }}</li>
                <li class="list-group-item plan"><strong>Tuesday:</strong> {{ meal_plan.tuesday_food }}</li>
                <li class="list-group-item plan"><strong>Wednesday:</strong> {{ meal_plan.wednesday_food }}</li>
                <li class="list-group-item plan"><strong>Thursday:</strong> {{ meal_plan.thursday_food }}</li>
                <li class="list-group-item plan"><strong>Friday:</strong> {{ meal_plan.friday_food }}</li>
                <li class="list-group-item plan"><strong>Saturday:</strong> {{ meal_plan.saturday_food }}</li>
                <li class="list-group-item plan"><strong>Sunday:</strong> {{ meal_plan.sunday_food }}</li>
            </ul>
            <div class="mt-3 text-end">
                <a href="{% url 'meal_update' meal_plan.id %}" class="btn btn-sm">Update</a>
                <a href="{% url 'meal_delete' meal_plan.id %}" class="btn btn-sm">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="text-center">
        <a href="{% url 'meal_create' %}" class="btn mt-2 mb-3 justify-content-center">Create New Meal Plan</a>
    </div>
</div>
{% endblock %}