{% extends "base.html" %}

{% load static %}
{% block content %}
<div>
    <h1 class="text-center">Meal Plans</h1>
    {% for meal_plan in meal_plans %}
    <h5 class="">Week of {{ meal_plan.week }}<br></h5>
    <div class="table-responsive">   
        <table class="table table-striped table-bordered table-sm">
            <thead>
                <tr id="table-header">
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ meal_plan.monday_food }}</td>
                    <td>{{ meal_plan.tuesday_food }}</td>
                    <td>{{ meal_plan.wednesday_food }}</td>
                    <td>{{ meal_plan.thursday_food }}</td>
                    <td>{{ meal_plan.friday_food }}</td>
                    <td>{{ meal_plan.saturday_food }}</td>
                    <td>{{ meal_plan.sunday_food }}</td>
                    <td>
                        <a href="{% url 'meal_update' meal_plan.id %}" class="btn btn-sm">Update</a>
                        <a href="{% url 'meal_delete' meal_plan.id %}" class="btn btn-sm">Delete</a>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
    {% endfor %}
    <a href="{% url 'meal_create' %}" class="btn">Create New Meal Plan</a>
</div>
{% endblock %}